html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}

:local {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .ace-base {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(45deg, #121213, #080909);
    color: #262829;
    text-shadow: 1px 1px 1px darkred;
  }

  .overlay {
    position: fixed;
    text-align: center;
    z-index: 5;
  }

  .eyes {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    top: 30%;
    z-index: 3;

    i {
      width: 40px;
      height: 40px;
      background: radial-gradient(darkred 40%, gray);
      border-radius: 50%;
      margin: 0 150px;
      animation-name: terminator-eye;
      animation-iteration-count: infinite;
      animation-duration: 20000ms;
    }
  }
}

@keyframes terminator-eye {
  0% {
    transform: scale(0.3);
  }

  100% {
    transform: scale(1.2);
  }
}
